@using Resources
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - @Resource.AppName</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/angular")
    @Scripts.Render("~/bundles/site")
</head>
<body class="zeno">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class="company-name">
                    @Html.ActionLink(@Resource.AppName, "Index", "Home", new { area = "" })
                </div>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="menu-item dropdown">@Html.ActionLink(Resource.Home, "Index", "Home")</li>
                    <li class="menu-item dropdown">
                        <a class="menu-item dropdown dropdown-submenu" data-toggle="dropdown">@Resource.Demo <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li class="menu-item dropdown dropdown-submenu">@Html.ActionLink(Resource.Appointment, "Demo", "Home", new { id = "1" }, null)</li>
                            <li class="menu-item dropdown dropdown-submenu">@Html.ActionLink(Resource.ChineseCalendar, "Demo", "Home", new { id = "2" }, null)</li>
                        </ul>
                    </li>
                    <li>@Html.ActionLink(Resource.About, "About", "Home")</li>
                    <li>@Html.ActionLink(Resource.Contact, "Contact", "Home")</li>
                    <li class="menu-item dropdown">
                        <a class="menu-item dropdown dropdown-submenu" data-toggle="dropdown">@ViewBag.Languages[0] <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                             <li class="menu-item dropdown dropdown-submenu">@Html.ActionLink((string)ViewBag.Languages[1], "SetCulture", "Home", new { culture = (string)ViewBag.Cultures[0] }, null)</li> 

                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - @Resource.AppName</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
